@model  IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Edycja</th>
            <th scope="col">Usuwanie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td><input type="button" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Profile",item)'" /></td>
                <td><input type="button" value="Usuń" onclick="location.href='@Url.Action("Delete", "Profile",new{id = item.Id.ToString()})'" /></td>
            </tr>
        }
    </tbody>
</table>